@font-face {
  font-family: "euclid";
  src: local("euclid"),
    url(./assets/font/Euclid\ Circular\ A\ Regular.ttf) format("truetype");
}
@font-face {
  font-family: "lionel";
  src: local("lionel"),
    url(./assets/font/lionel-text-steam_bigfontsite.com.ttf) format("truetype");
}
a {
  text-decoration: none;
}

body {
  margin: 0;

  @media screen and (max-width: 800px) {
    padding: 0;
  }
}
